NUXT_HUB_PROJECT_KEY=hibiscusvej-web-04h6

# Push Notifications - VAPID keys, generated with `npx web-push generate-vapid-keys --json`
NUXT_PUBLIC_VAPID_SUBJECT=mailto:example@localhost
NUXT_PUBLIC_VAPID_PUBLIC_KEY=BJfpycKcb9MzCfy9gtkhpueWqT8USeRYwbmQaS1Pu79ziOeYvGP_DGBoP0BYiK3xE-usaZbXzzjSDZ5dSwlLTu0
NUXT_VAPID_PRIVATE_KEY=L-bAlLl4lGBsLTJbqfa0gJhenycYs6-4goqSbmtTZE8