NUXT_HUB_PROJECT_KEY=hibiscusvej-web-04h6

# Maintenance mode
NUXT_PUBLIC_MAINTENANCE_MODE_ENABLED=false
NUXT_PUBLIC_MAINTENANCE_MODE_BYPASS_SECRET=4ae321f729595c93626a9ecd09ef4e0b7eac7d062fd94be7b7081b77b2563db9

# Push Notifications - VAPID keys, generated with `npx web-push generate-vapid-keys --json`
NUXT_PUBLIC_VAPID_SUBJECT=mailto:example@localhost
NUXT_PUBLIC_VAPID_PUBLIC_KEY=BJfpycKcb9MzCfy9gtkhpueWqT8USeRYwbmQaS1Pu79ziOeYvGP_DGBoP0BYiK3xE-usaZbXzzjSDZ5dSwlLTu0
NUXT_VAPID_PRIVATE_KEY=L-bAlLl4lGBsLTJbqfa0gJhenycYs6-4goqSbmtTZE8

# JWT secret - generated with bash command `openssl rand -hex 32`
NUXT_JWT_SECRET=cc7e0d44fd473002f1c42167459001140ec6389b7353f8088f4d9a95f2f596f2